

@model CrudOperation.Models.Student_Data

@{ ViewBag.Title = "Create"; }



<h2>Create Student</h2>


<form method="post" action="@Url.Action("Create", "Home")">

    <label for="sid">Student ID</label>
    @Html.TextBoxFor(a => a.Sid, new { @class = "form-control", @type = "text", @autocomplete = "off", @placeholder = "" })

    <label for="sname">Student Name</label>
    @Html.TextBoxFor(a => a.Sname, new { @class = "form-control", @type = "text", @autocomplete = "off", @placeholder = "" })
<div class="form-group">
    @Html.Label("Department Name")
    @Html.TextBox("DepartmentName", ViewBag.DepartmentName as string, new { @class = "form-control", @readonly = "readonly" })
</div>

    <label for="Add">Address</label>
    @Html.TextBoxFor(a => a.Addres, new { @class = "form-control", @type = "text", @autocomplete = "off", @placeholder = "" })





    <button type="submit" class="btn btn-primary" style="margin-top: 10px;"> Save</button>
</form>
