
@model CrudOperation.Models.Student_Data

@{ ViewBag.Title = "Create"; }



<h2>Create Student</h2>

<form method="post" action="@Url.Action("Create", "Student")">

    <label for="sid">Student ID</label>
    @Html.TextBoxFor(a => a.Sid, new { @class = "form-control", @type = "text", @autocomplete = "off", @placeholder = "" })

    <label for="sname">Student Name</label>
    @Html.TextBoxFor(a => a.Sname, new { @class = "form-control", @type = "text", @autocomplete = "off", @placeholder = "" })

    <label for="depart">Department</label>
    @Html.TextBoxFor(a => a.Department, new { @class = "form-control", @type = "text", @autocomplete = "off", @placeholder = "" })

    <label for="Add">Address</label>
    @Html.TextBoxFor(a => a.Addres, new { @class = "form-control", @type = "text", @autocomplete = "off", @placeholder = "" })





    <button type="submit" class="btn btn-primary" style="margin-top: 10px;"> Save</button>
</form>
