@model IEnumerable<CrudOperation.Models.Student_Data>

@{ ViewBag.Title = "Student List"; }

<h2>Student List</h2>

<p>
    @Html.ActionLink("Student List", "Index")
</p>
<link rel="stylesheet" href="~/Content/bootstrap.min.css">
<table class="table table-bordered table-striped">
    <tr>
        <th>Sid</th>
        <th>Sname</th>
        <th>Department</th>
        <th>Address</th>
        
    </tr>

    @foreach (var student in Model)
    {
<tr>
    <td>@student.Sid</td>
    <td>@student.Sname</td>
    <td>@student.Department</td>
    <td>@student.Addres</td>
    <td>
    </td>
</tr>
}
</table>

