
@{ ViewBag.Title = "Create"; }

@model CrudOperation.Models.EmpDetail

<h3>Create Employee</h3>

<form method="post" action="@Url.Action("Create", "Test")">
    <label for="eid">Employee ID</label>
    @Html.TextBoxFor(a => a.ID, new { @class = "form-control", @type = "text", @autocomplete = "off", @placeholder = "" })

    <label for="ecode">Employee Code</label>
    @Html.TextBoxFor(a => a.EMPcode, new { @class = "form-control", @type = "text", @autocomplete = "off", @placeholder = "" })

    <label for="ename">Name</label>
    @Html.TextBoxFor(a => a.EMPname, new { @class = "form-control", @type = "text", @autocomplete = "off", @placeholder = "" })

    <label for="desi">Designation</label>
    @Html.TextBoxFor(a => a.Designation, new { @class = "form-control", @type = "text", @autocomplete = "off", @placeholder = "" })

    <label for="sal">salary</label>
    @Html.TextBoxFor(a => a.Salary, new { @class = "form-control", @type = "text", @autocomplete = "off", @placeholder = "" })



    <button type="submit" class="btn btn-primary" style="margin-top: 10px;"> Save</button>
</form>